<!-- Structural Directive -->
<!-- ngFor Directive -->

<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{title}}
    </div>

    <div class='panel-body'>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let morning of morningSchedule;">
                        <td>{{morning.period}}</td>
                        <td>{{morning.startTime}}</td>
                        <td>{{morning.endTime}}</td>
                        <td>{{morning.Monday}}</td>
                        <td>{{morning.Tuesday}}</td>
                        <td>{{morning.Wednesday}}</td>
                        <td>{{morning.Thursday}}</td>
                        <td>{{morning.Friday}}</td>
                        <td>{{morning.Saturday}}</td>
                        <td>{{morning.Sunday}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
        </option>
    </select>
</div>