<div class='panel-body'>
    <div class='table-responsive'>
        <table class='table'>
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedules;" [ngStyle]="{'background-color': schedule.color}">
                    <td>{{schedule.period}}</td>
                    <td>{{schedule.startTime}}</td>
                    <td>{{schedule.endTime}}</td>
                    <td>{{schedule.Monday}}</td>
                    <td>{{schedule.Tuesday}}</td>
                    <td>{{schedule.Wednesday}}</td>
                    <td>{{schedule.Thursday}}</td>
                    <td>{{schedule.Friday}}</td>
                    <td>{{schedule.Saturday}}</td>
                    <td>{{schedule.Sunday}}</td>
                    <td><button [routerLink]="['/table-detail',schedule.period]">Detail</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>