<div style="text-align: center;">
    <h1> Schedule</h1>
</div>
<router-outlet></router-outlet>
<body>
    <app-binding></app-binding>
    <app-directive></app-directive>
    <div class="table-wrap">
        <table class="table table-dark">
            <thead>
                <tr class="bg-dark">
                    <th>Period</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-primary">
                    <th style="text-align: center;">1</th>
                    <th>07:00</th>
                    <th>07:45</th>
                    <td>Math</td>
                    <td>English</td>
                    <td>Literature</td>
                    <td>Physical Education</td>
                    <td>Physics</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-success">
                    <th style="text-align: center;">2</th>
                    <th>07:45</th>
                    <th>08:30</th>
                    <td>Math</td>
                    <td>English</td>
                    <td>Literature</td>
                    <td>Physical Education</td>
                    <td>History</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-warning">
                    <th style="text-align: center;">3</th>
                    <th>09:00</th>
                    <th>09:45</th>
                    <td>Geography</td>
                    <td>Chemistry</td>
                    <td>Biology</td>
                    <td>English</td>
                    <td>English</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-danger">
                    <th style="text-align: center;">4</th>
                    <th>09:45</th>
                    <th>10:30</th>
                    <td>Literature</td>
                    <td>Civic Education</td>
                    <td>Math</td>
                    <td>English</td>
                    <td>Biology</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-info">
                    <th style="text-align: center;">5</th>
                    <th>10:30</th>
                    <th>11:15</th>
                    <td>English</td>
                    <td>Physics</td>
                    <td>Math</td>
                    <td>Chemistry</td>
                    <td>Geography</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
            </tbody>
            <hr>
            <tbody>
                <tr class="bg-primary">
                    <th style="text-align: center;">1</th>
                    <th>13:00</th>
                    <th>13:45</th>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-success">
                    <th style="text-align: center;">2</th>
                    <th>13:45</th>
                    <th>14:30</th>
                    <td>English</td>
                    <td>Self-Learning</td>
                    <td>Chemistry</td>
                    <td>Self-Learning</td>
                    <td>Literature</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-warning">
                    <th style="text-align: center;">3</th>
                    <th>15:00</th>
                    <th>15:45</th>
                    <td>English</td>
                    <td>Physics</td>
                    <td>Physics</td>
                    <td>Math</td>
                    <td>Math</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-danger">
                    <th style="text-align: center;">4</th>
                    <th>15:45</th>
                    <th>16:30</th>
                    <td>Literature</td>
                    <td>Math</td>
                    <td>English</td>
                    <td>Math</td>
                    <td>English</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
                <tr class="bg-info">
                    <th style="text-align: center;">5</th>
                    <th>16:30</th>
                    <th>17:15</th>
                    <td>Chemistry</td>
                    <td>Math</td>
                    <td>English</td>
                    <td>Literature</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td>Self-Learning</td>
                    <td><a href="#"><i class="fa fa-edit"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>